
#account-form-container.center-vertical
	form.card.card-body.bg-light(method='post')#account-form
		h2
		hr
		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Name
			.col-sm-9
				input.form-control#name-tf(type='text', name='name', value= 'ganesh')

		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Email
			.col-sm-9
				input.form-control#email-tf(type='email', name='email', value= 'ganesh@gmail.com')

		.form-group.row.margin-zero
			label.col-sm-3.col-form-label.col-form-label-sm Location
			.col-sm-9
				input.form-control#email-tf(type='Country', name='email', value= 'India')

		hr
		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Username
			.col-sm-9
				input.form-control#user-tf(type='text', name='user', value= 'ganesh').disabled

	form.card.card-body.bg-light(method='post')#account-form
		h2
		hr
		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Name
			.col-sm-9
				input.form-control#name-tf(type='text', name='name', value= 'ganesh')

		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Email
			.col-sm-9
				input.form-control#email-tf(type='email', name='email', value= 'ganesh@gmail.com')

		.form-group.row.margin-zero
			label.col-sm-3.col-form-label.col-form-label-sm Location
			.col-sm-9
				input.form-control#email-tf(type='Country', name='email', value= 'India')

		hr
		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Username
			.col-sm-9
				input.form-control#user-tf(type='text', name='user', value= 'ganesh').disabled


	form.card.card-body.bg-light(method='post')#account-form
		h2
		hr
		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Name
			.col-sm-9
				input.form-control#name-tf(type='text', name='name', value= 'ganesh')

		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Email
			.col-sm-9
				input.form-control#email-tf(type='email', name='email', value= 'ganesh@gmail.com')

		.form-group.row.margin-zero
			label.col-sm-3.col-form-label.col-form-label-sm Location
			.col-sm-9
				input.form-control#email-tf(type='Country', name='email', value= 'India')

		hr
		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Username
			.col-sm-9
				input.form-control#user-tf(type='text', name='user', value= 'ganesh').disabled


	form.card.card-body.bg-light(method='post')#account-form
		h2
		hr
		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Name
			.col-sm-9
				input.form-control#name-tf(type='text', name='name', value= 'user')

		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Email
			.col-sm-9
				input.form-control#email-tf(type='email', name='email', value= 'user@gmail.com')

		.form-group.row.margin-zero
			label.col-sm-3.col-form-label.col-form-label-sm Location
			.col-sm-9
				input.form-control#email-tf(type='Country', name='email', value= 'India')
		hr
		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Username
			.col-sm-9
				input.form-control#user-tf(type='text', name='user', value= 'user').disabled


	form.card.card-body.bg-light(method='post')#account-form
		h2
		hr
		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Name
			.col-sm-9
				input.form-control#name-tf(type='text', name='name', value= 'user1')

		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Email
			.col-sm-9
				input.form-control#email-tf(type='email', name='email', value= 'user1@gmail.com')

		.form-group.row.margin-zero
			label.col-sm-3.col-form-label.col-form-label-sm Location
			.col-sm-9
				input.form-control#email-tf(type='Country', name='email', value= 'India')
		hr
		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Username
			.col-sm-9
				input.form-control#user-tf(type='text', name='user', value= 'user1').disabled

	form.card.card-body.bg-light(method='post')#account-form
		h2
		hr
		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Name
			.col-sm-9
				input.form-control#name-tf(type='text', name='name', value= 'ganeshbabu')

		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Email
			.col-sm-9
				input.form-control#email-tf(type='email', name='email', value= 'ganeshbabu@gmail.com')

		.form-group.row.margin-zero
			label.col-sm-3.col-form-label.col-form-label-sm Location
			.col-sm-9
				input.form-control#email-tf(type='Country', name='email', value= 'India')

		hr
		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Username
			.col-sm-9
				input.form-control#user-tf(type='text', name='user', value= 'ganeshbabu')
